.Player.Container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;

  .Health {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 170px;
    text-align: center; // TMP
  }
}

.Monster.Container {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;

  .MoveUp {
    transform: translateY(-50%);
  }

  .PlayArea {
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    top: 20px;
    margin: auto;
    border: 1px dashed gray;

    * {
      display: none;
    }
  }

  .Progress {
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

    .Notch {
      background-color: red;
      height: 5px;
      flex: 1;
      &:not(:last-of-type) { margin-right: 5px; }
    }
  }

  .Sprite {
    width: 500px;
    height: 400px;
    display: block;
    margin: auto;
    background-color: red;
    border-radius: 100px;
    position: relative;
    z-index: 1;
  }

  .Platform {
    width: 500px;
    height: 150px;
    border: 10px solid yellow;
    background-color: greenyellow;
    border-radius: 100%;
    display: block;
    margin: auto;
  }

  .StatusBar {
    width: 500px;
    padding: 0 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .Status {
      display: inline-block;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      &.One { background-color: royalblue; }
      &.Two { background-color: teal; }
      &.Three { background-color: salmon; }
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}

.Half {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;

  .Hand {
    display: flex;
    flex-direction: row;
    align-items: center;

    app-card:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  .Head {
    width: 180px;
    height: 180px;
    background-color: lightblue;
  }

  &.Koala {
    align-items: flex-end;
  }

  &.Sophie {
    align-items: flex-start;
  }
}

// Animating cards in hand when dragged around

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }


.Hand.cdk-drop-list-dragging app-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
