<div class="Monster Container">
  <div class="PlayArea"
    cdkDropList
    cdkDropListDisabled
    (cdkDropListDropped)="dropInPlayArea($event)"
    [cdkDropListData]="playedCards"
    id="play-area"></div>
  <div class="Progress">
    <!-- for each monster phase -->
    <div class="Notch"></div>
    <div class="Notch"></div>
    <div class="Notch"></div>
  </div>
  <img class="Sprite"/>
  <div class="MoveUp">
    <img class="Platform">
    <div class="StatusBar">
      <div class="Status One"></div>
      <div class="Status Two"></div>
      <div class="Status Three"></div>
    </div>
</div>
</div>

<div class="Player Container">
  <div class="Health">{{ currentHealth }} / {{ maxHealth }}</div>

  <div class="Sophie Half">
    <img class="Head"/>
    <div class="Hand"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropInList($event)"
    [cdkDropListData]="sophieDeck"
    cdkDropListConnectedTo="play-area"
    id="list-sophie">
      <app-card *ngFor="let card of sophieDeck" [card]="card" cdkDrag [cdkDragData]="card"></app-card>
    </div>
  </div>

  <div class="Koala Half">
    <img class="Head"/>
    <div class="Hand"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropInList($event)"
    [cdkDropListData]="koalaDeck"
    cdkDropListConnectedTo="play-area"
    id="list-koala">
      <app-card *ngFor="let card of koalaDeck" [card]="card" cdkDrag [cdkDragData]="card"></app-card>
    </div>
  </div>
</div>
